<ul class="card-text font-weight-light list-group list-group-flush">
  {% for entry in entries %}
    {% if entry.bullet %}
      <li class="list-group-item">{{ entry.bullet | markdownify | remove: '<p>' | remove: '</p>' }}</li>
    {% endif %}
  {% endfor %}
</ul>